@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

/* font styling */ 
body {
    font-family: 'Andada Pro', serif;
}

p {
    font-family: 'Andada Pro', serif;
}

.page_title {
    text-decoration: underline;
}

/* review card styling */ 

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    width: 75%;
    height: 100%;
    
    
}

.card h4, h5 {
    font-size: 1em
}

.main-review-card {
    border: none;
}


/* review page styling */ 
.review-body{
    width: 80%

}

/* form styling page */

.create-form {
    width: 80%
}

/* index page styling */
#opening_para {
    width:80%
}

main a {
    color: black;
    text-decoration: none;
}


#review_score {
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid;
    height: 2em;
}


/* button styling */

.page-link { border-radius: 10px}



a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/*  account log in and out styling   */

.acdetails {
    padding-left: 40px;
    padding-right: 40px;
}



 .footer a :hover {
    transform: scale(1.2)
}


/* singin & out styling */ 
#signup_form p, input {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#id_remember {
    display: inline;
}

.reviewbox a:hover {
    color: rgb(205, 184, 204);
    transform: scale(1.2)
}


/* media queries */ 

@media (max-width: 767px) {
    .card {
        width: 70%
    }
}

