{% extends 'base.html' %}
{% block content %}

<!-- card -->
<div class="card mb-3 main-review-card mx-auto p-5">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="image-container ">
            {% if "placeholder" in post.album_image.url  %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/dtyxhz3uy/image/upload/v1650360001/defaultimage_ihq5se.jpg">
            {% else %}
            <img class="card-img-top" src=" {{ post.album_image.url }}">
            {% endif %}
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body text-center">
          <h5 class="card-title">{{post.album_title}}</h5>
          <p class="card-text">{{post.artist}}</p>
          <p class="card-text">{{post.genre}}</p>
          <p class="card-text">{{post.album_score}}</p>
          <p class="card-text"><small class="text-muted">{{post.date_created}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class ="container-fluid review-body">
      <p>
          {{post.body | safe}}
      </p>
      <hr>
      <p text-center>
        Review by {{post.author}}
      </p>
  </div>


{%endblock%}