{% extends 'base.html' %}
{% block content %} 
{% load crispy_forms_tags %}

<!-- card -->
<div class="card mb-3 main-review-card mx-auto p-5">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="image-container ">
            {% if "placeholder" in post.album_image.url  %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/dtyxhz3uy/image/upload/v1650360001/defaultimage_ihq5se.jpg" alt="default image multicoloured records">
            {% else %}
            <img class="card-img-top" src=" {{ post.album_image.url }}" alt="{{post.album_title}} by {{post.artist}}">
            {% endif %}
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body text-center">
          <h5 class="card-title">{{post.album_title}}</h5>
          <p class="card-text">{{post.artist}}</p>
          <p class="card-text">{{post.genre}}</p>
          <p class="card-text">{{post.album_score}}</p>
          <p class="card-text">    {% if user.is_authenticated %}
            <form action="{% url 'post_like'  post.slug %}" class="d-inline" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="album_id" value="{{ post.slug }}"
                    class="btn btn-signup btn-md green-btn"><i class="fas fa-heart"></i>
                    {{ post.num_of_likes }} </button>
                {% else %}
                <button type="submit" name="album_id" value="{{ post.slug }}"
                    class="btn btn-signup btn-md green-btn"><i class="far fa-heart"></i>
                    {{ post.num_of_likes}}</button>
                {% endif %}
            </form>
            {% else %}
            <span class="text-dark"><i class="fas fa-heart"></i> {{ post.num_of_likes }} </span>
            {% endif %}</p>
          <p class="card-text"><small class="text-muted">{{post.date_created |date:'d-F-Y'}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class ="container-fluid review-body">
      <p>
          {{post.body | safe}}
      </p>
      <hr>
      <p text-center>
        Review by {{post.author}}
      </p>
  </div>
  {% if user.is_authenticated %}
  {% if user.id == post.author.id %}
      <div class="row"> 
        <div class="col-sm-12 text-center">
          <button type="button"  class="btn btn-success btn-sm"><a href="{% url 'edit_post' post.slug %}"> Edit</a></button>
          <button type="button"  class="btn btn-danger btn-sm"><a href="{% url 'delete_post' post.slug %}"> Delete</a></button>
        </div>
      </div>
  {% endif %}
  {% endif %}
  <div class="container mt-3">
    <div class="row">
        <hr>
        <div class="col-12 col-md-6 col-lg-8 col-xl-8 mb-5">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 15px;">
                    <p>
                        <span>
                            {{ comment.name }}
                        </span>
                        <span>
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.comment_body | linebreaks }}
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-5">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Please wait for your comment to be approved
            </div>
            {% else %}
            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="mt-3 btn btn-dark">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}