{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/9d283dbd3f.js" crossorigin="anonymous"></script>
    <title>The Lost Tapes</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Lost Tapes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'review_page' %}">Reviews</a>
              </li> 
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_post' %}">Write a review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'your_posts' %}">Your Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Log out</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex" method="POST" action="{% url 'search' %}">
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      {% if messages %}
      {% for message in messages %}
          <div class="text-center alert alert-{{ message.tags }} mb-0" id="message_alerts">
              {{ message |safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
      {% endif %}
<!-- Hero Image-->
<img id="hero-image" class="img-fluid" src="https://res.cloudinary.com/dtyxhz3uy/image/upload/v1650298416/pexels-stas-knop-1461608_crop_p7almb.jpg" alt ="cassette tapes">
    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <footer class="text-center text-white footer mt-auto" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <div class="mb-1">
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://facebook.com" 
              target="_blank" 
              rel="noopener" 
              aria-label="Visit our Facebook page (opens in a new tab)"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://twitter.com" 
              target="_blank" 
              rel="noopener" 
              aria-label="Visit our Twitter page (opens in a new tab)"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- YouTube -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://youtube.com" 
              target="_blank" 
              rel="noopener" 
              aria-label="Visit our YouTube page (opens in a new tab)"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-youtube-square"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://instagram.com"
              role="button"
              data-mdb-ripple-color="dark"
              target="_blank" rel="noopener" 
              aria-label="Visit our Instagram page (opens in a new tab)"
              ><i class="fab fa-instagram sm-icon"></i
            ></a>
              </div>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
</footer>      

</body>
</html>