{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <div class="mt-4 mb-2 container-fluid text-center">
        <h2 class="page_title">Add your review here</h2>
    </div>
    <div class="container form-group p-4 create-form">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-dark">Post</button>
        </form>
    </div> 
{% else %}
<div class="text-center mt-4 mb-4" ><h1>Access Denied</h1></div>
{% endif %} 
{%endblock%}