{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
{%  if request.user.id == object.author.id %}
<!-- <h1>{{ request.user.id }} {{ post }}</h1> -->
    <div>
        <h2 class="text-center page_title">Edit </h2>
    </div>
    <div class=" container form-group p-4 create-form">
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Post</button>
        </form>
    </div>
{% else %}
<p>Please Logg in to edit </p>
{% endif %}
  
{% endif %}
{%endblock%}