{% extends 'base.html' %}
{% block content %}

<div class="container-fluid mt-4 mb-4 text-center">
    <h2 class="page_title">Album Reviews</h2>
</div>

<!--Review Cards-->
<div class="container-fluid">
    <div class="row">

        
        <div class="col-12 mt-3">
            <div class="row">
                {% for post in object_list %}
                <div class="col-md-3 sm-2 mb-5">
                    <div class="card mx-auto ">
                        <div class="card-body review-card mb-5">
                            <a href="{% url 'album_reviews' post.slug %}"><div class="image-container ">
                                {% if "placeholder" in post.album_image.url  %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dtyxhz3uy/image/upload/v1650360001/defaultimage_ihq5se.jpg" alt="default image multicoloured records" >
                                {% else %}
                                <img class="card-img-top" src=" {{ post.album_image.url }}" alt="{{post.album_title}} by {{post.artist}}">
                                {% endif %}
                            </div></a>
                            <div class="card-body">
                                <a href="{% url 'album_reviews' post.slug %}"><h4 class="card-title text-center">{{ post.artist}}</h4></a>
                                <a href="{% url 'album_reviews' post.slug  %}"><h5 class="text-center">{{ post.album_title}}</h5></a>
                            </div>
                
                            <ul class=" mt-2 list-group list-group-flush">
                                <li class="list-group-item text-center">Genre: {{post.genre}}</li>
                                <li class="list-group-item text-center">Album Score: {{post.album_score}}</li>    
                                <li class="list-group-item text-center">Author: {{post.author}}</li>
                            </ul>
                            <div class="col-sm-12 text-center">
                                 <a href="{% url 'album_reviews' post.slug %}"> <p> Read Review </p></a>
                            </div>
                                {% if user.is_authenticated %}
                                {% if user.id == post.author.id %}
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <a href="{% url 'edit_post' post.slug %}" class="btn btn-success btn-sm" role="button" > Edit</a>
                                            <a href="{% url 'delete_post' post.slug %}"  class="btn btn-danger btn-sm" role="button"> Delete</a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% endif %}
                    
                        </div>
                    </div>
                </div>
            
            
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if is_paginated %}
<div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> <i class="fa-solid fa-angle-left"> </i> PREVIOUS </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT <i class="fa-solid fa-angle-right"></i></a></li>

            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
{%endblock%}